src/*.exe
src/HunCoin
src/HunCoind
src/test_HunCoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.HunCoin

# Compilation and Qt preprocessor part
*.qm
Makefile
HunCoin-qt
HunCoin-Qt.app

# Unit-tests
Makefile.test
HunCoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
